body{
	margin:0;
}

input{
	height: 30px;
	width: 300px;
}


/*************************** navigation bar  *****************************/


nav {
    list-style-type: none;
    overflow: ;
    background-color: #D74F59;
    position:fixed;
	top:0;
	width:100%;
	height:60;
	margin:0;
    padding:0;
	clear: left;
}

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #FFFFFF;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {}


/*   **********************************************sing up form*************************************    */



/*   ************************************************* next ****************************************    */
		

li {
    float: left;
}


li select {
	background-color:#D74F59;
	background:transparent;
	border:none;
	color:white;
	width:100;
	
}

select option{
	color:black;
	
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:0px 10px;
    text-decoration: none;
}

li a:hover:not(.active) {
    color:#EAA3A8 ;
}


a{text-decoration:none}

input[type=text],[type=date]{
	
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 5px 0px 3px 0px;
}

input[type=button]{
    background-color: #D74F57;
    border: none;
    color: white;
    padding:0;
    text-decoration: none;
    margin:0;
    cursor: pointer;
}


div.container {
	background-color:white;
    width: 100%;
	height:500;
    border:  1px solid gray;
    
}		 

.thumbnail {
	width: 320px;
    height: 10px;
}

.image {
	width: 100%;
    height: 100%;    
}

.image img {
    -webkit-transition: all 0.25s ease; /* Safari and Chrome */
    -moz-transition: all 0.25s ease; /* Firefox */
    -ms-transition: all 0.25s ease; /* IE 9 */
    -o-transition: all 0.25s ease; /* Opera */
    transition: all 0.25s ease;
}

.image:hover img {
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}	



#design-cast {
    position: float;
    overflow: hidden;
	text-align:center;
	
}

.member {
    float: left;
    width: 9%;
    margin: 1% 1% 45px 1%;
    padding-left:220;
	}

.name {
    position: float;
    bottom: 0px;
}

.member img {
    width: 100%;
    display: block;
	
}

#design{
	position:float;
	overflow: hidden;
	text-align:center;
	width:100%;
	background-color:white;
}
.dmember {
    float: left;
    width: 15%;
    margin: 1% 1% 45px 1%;
    padding-left:170;
	}

.dname {
    position: float;
    bottom: 0px;
}

